* {
    box-sizing: border-box;
}

.bg-custom {
    height: 800px;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    background-color: red;
    padding: 10px;
}

.child {
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.header {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.big-child {
    width: 200px;
    height: 200px;
    background-color: blue;
    display: flex;
    justify-content: space-between;
}

.big-child :nth-child(even) {
    align-self: end;
}

.mini-child {
    width: 50px;
    height: 50px;
    background-color: green;
}